@charset "UTF-8";
/*resetcss*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role="list"], ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: .01ms !important;
            animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: .01ms !important;
            transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
*  諸々のルールとかクラスの命名規則とか
* ・BEM(MindBEMding)
* ・キャメルケース
* ・汎用的な要素のクラスは頭にc-を付け。コンポーネント化。
* ・状態を表すクラスは頭にis-を付ける。
https://www.happyhues.co/palettes/3
*/
/*共通のカラー*/
/*コンテンツ1のカラー*/
/*コンテンツ2のカラー*/
/* 汎用パーツ
-------------------------------------------- */
.c-content1 {
  width: 100%;
  padding: 100px 10%;
  font-size: 16px;
  background: #fffffe;
}

@media screen and (max-width: 767px) {
  .c-content1 {
    padding: 50px 10px;
  }
}

.c-content2 {
  width: 100%;
  padding: 100px 10%;
  font-size: 16px;
  background: #d8eefe;
}

@media screen and (max-width: 767px) {
  .c-content2 {
    padding: 50px 10px;
  }
}

.c-mainTitle {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #094067;
}

.c-mainTitle::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f578";
}

.c-subTitle {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #094067;
  position: relative;
  padding-left: 20px;
}

.c-subTitle::before {
  content: "";
  position: absolute;
  left: 0;
  height: 30px;
  width: 6px;
  background-color: #094067;
}

/* ベースレイアウト
-------------------------------------------- */
.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Signika', sans-serif;
  font-size: 16px;
  color: #5f6c7b;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .body {
    display: block;
  }
}

.main {
  width: 80%;
}

@media screen and (max-width: 767px) {
  .main {
    width: 100%;
  }
}

/* メインvisual
-------------------------------------------- */
.mainvisual {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainvisual__icon {
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  text-align: center;
}

.mainvisual__icon img {
  display: inline-block;
}

.mainvisual__text {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.mainvisual:after {
  content: "";
  width: 30px;
  height: 30px;
  border: solid 1px #fff;
  border-width: 0 5px 5px 0;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  position: absolute;
  bottom: 30px;
  left: 50%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.mainvisual:hover:after {
  opacity: 1;
}

/* ナビゲーション
-------------------------------------------- */
.navigation {
  position: relative;
  width: 20%;
}

.navigation__list {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
    /*
        &.is-active{
            display: block;
            width: 100vw;
            height: 10vw;
        }
        */
    width: 100vw;
    height: 100vh;
  }
}

.navigation__item {
  display: block;
}

.navigation__item + .navigation__item {
  margin-top: 10px;
}

.navigation__item.is-current {
  color: RED;
}

/* Skills
-------------------------------------------- */
.skillList {
  position: relative;
}

.skillList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .skillList__item {
    display: block;
    width: 100%;
  }
}

.skillList__lang {
  width: 20%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fffffe;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 5px;
  color: #5f6c7b;
}

@media screen and (max-width: 767px) {
  .skillList__lang {
    width: 100%;
    background: #DDD;
    border-bottom: solid 1px #FFF;
  }
}

.skillList__lang:after {
  content: "";
  width: 10px;
  height: 10px;
  border: solid 1px #fff;
  border-width: 3px 3px 0 0;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .skillList__lang:after {
    opacity: 1;
    -webkit-transform: translateY(-50%) rotate(135deg);
            transform: translateY(-50%) rotate(135deg);
  }
}

.skillList__lang.active {
  background-color: #094067;
  color: #FFF;
  opacity: 1;
}

.skillList__lang.active:after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .skillList__lang.active:after {
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
}

.skillList__detail {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 75%;
  height: 360px;
  margin-left: 5%;
  background-color: #fffffe;
  border: solid 2px #fffffe;
  display: none;
}

@media screen and (max-width: 767px) {
  .skillList__detail {
    position: relative;
    width: 100%;
    margin-left: 0;
  }
}

.skillList__detail.active {
  display: block;
}

.skillList__backIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  overflow: hidden;
}

.skillList__backIcon i {
  position: absolute;
  color: #d8eefe;
  opacity: 0.8;
  display: block;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  z-index: -1;
}

.skillList__backIcon .fa-code {
  font-size: 350px;
  top: 10px;
  right: -30px;
}

.skillList__backIcon .fa-js {
  font-size: 360px;
  top: 30px;
  right: -10px;
}

.skillList__backIcon .fa-database {
  font-size: 360px;
  top: 25px;
  right: 10px;
}

.skillList__backIcon .fa-github {
  font-size: 380px;
  top: 0px;
  right: -15px;
}

.skillList__backIcon .fa-wordpress {
  font-size: 380px;
  top: 0px;
  right: -15px;
}

.skillList__backIcon .fa-screwdriver-wrench {
  font-size: 340px;
  top: 30px;
  right: 20px;
}

.skillCareer {
  padding: 25px;
}

.skillCareer__lang {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #094067;
  position: relative;
  padding-left: 20px;
}

.skillCareer__lang::before {
  content: "";
  position: absolute;
  left: 0;
  height: 30px;
  width: 6px;
  background-color: #094067;
}

.skillCareer__text {
  color: #5f6c7b;
  line-height: 2;
  position: relative;
}

/* Works
-------------------------------------------- */
.worksList__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.worksList__item + .worksList__item {
  margin-top: 20px;
}

.worksList__img {
  width: 30%;
  text-align: center;
  margin-bottom: 10px;
}

.worksList__img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.worksList__desc {
  width: 70%;
}

.worksList__icons {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.worksList__icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  border: solid 1px #094067;
  background-color: #FFF;
  color: #094067;
  font-size: 20px;
}

.worksList__ttl {
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

.worksList__gitIcon {
  display: block;
  width: 200px;
  height: 30px;
}

/* footer
-------------------------------------------- */
.footer {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.footer-mail::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
}
/*# sourceMappingURL=style.css.map */