/*resetcss*/
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
/**
*  諸々のルールとかクラスの命名規則とか
* ・BEM(MindBEMding)
* ・キャメルケース
* ・汎用的な要素のクラスは頭にc-を付け。コンポーネント化。
* ・状態を表すクラスは頭にis-を付ける。
https://www.happyhues.co/palettes/3
*/
@mixin sp{
    @media screen and (max-width: 767px) {
       @content;
    }    
}

/*共通のカラー*/
$heddingColor: #094067;
$subHeddingColor: #5f6c7b;
$textColor: #5f6c7b;
/*コンテンツ1のカラー*/
$backgroundColor1: #fffffe;
$cardBackgroundColor1: #094067;
/*コンテンツ2のカラー*/
$backgroundColor2: #d8eefe;
$cardBackgroundColor2: #fffffe;

/* 汎用パーツ
-------------------------------------------- */
@mixin wrapContent{
    width: 100%;
    padding: 100px 10%;
    font-size: 16px;
    @include sp{
        padding: 50px 10px;
    }
}
.c-content1{
    @include wrapContent;
    background: $backgroundColor1;
}
.c-content2{
    @include wrapContent;
    background: $backgroundColor2;
}
.c-mainTitle {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
    color: $heddingColor;
    &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f578";
    }
}
.c-subTitle {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: $heddingColor;
    position: relative;
    padding-left: 20px;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        height: 30px;
        width: 6px;
        background-color: $heddingColor;
    }
}

/* ベースレイアウト
-------------------------------------------- */
.body {
    display: flex;
    justify-content: flex-end;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color: $textColor;
    letter-spacing: 0.1em;
    @include sp{
        display: block;
    }
}
.main {
    width: 80%;
    @include sp{
        width: 100%;
    }
}

/* メインvisual
-------------------------------------------- */
.mainvisual {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon {
        overflow: hidden;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: 0 auto 20px;
        text-align: center;
        & img{
            display: inline-block;
        }
    }
    &__text {
        font-size: 40px;
        font-weight: bold;
        color: #fff;
    }
    &:after {
        content: "";
        width: 30px;
        height: 30px;
        border: solid 1px #fff;
        border-width: 0 5px 5px 0;
        transform: translateX(-50%) rotate(45deg);
        position: absolute;
        bottom: 30px;
        left: 50%;
        opacity: 0;
        transition: 1s;
    }
    &:hover:after {
        opacity: 1;
    }
}

/* ナビゲーション
-------------------------------------------- */
.navigation {
    position: relative;
    width: 20%;
    &__list{
        margin: 0;
        padding: 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 20%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        z-index: 2;
    }
    @include sp{
        display: none;
        /*
        &.is-active{
            display: block;
            width: 100vw;
            height: 10vw;
        }
        */
        width: 100vw;
        height: 100vh;

    }
    &__item{
        display: block;
    }
    &__item + &__item {
        margin-top: 10px;
    }
    &__item.is-current {
        color: RED;
    }
}

/* Skills
-------------------------------------------- */
.skillList {
    position: relative;
    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        @include sp{
            display: block;
            width: 100%;
        }
    }
    &__lang {
        width: 20%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $cardBackgroundColor2;
        position: relative;
        transition: 0.5s;
        margin-bottom: 5px;
        color: $textColor;
        @include sp{
            width: 100%;
            background: #DDD;
            border-bottom: solid 1px #FFF;
        }
        &:after {
            content: "";
            width: 10px;
            height: 10px;
            border: solid 1px #fff;
            border-width: 3px 3px 0 0;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            opacity: 0;
            @include sp{
                opacity: 1;
                transform: translateY(-50%) rotate(135deg);
            }
        }
        &.active {
            background-color: #094067;
            color: #FFF;
            opacity: 1;
        }
        &.active:after {
            opacity: 1;
            @include sp{
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }
    &__detail {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 75%;
        height: 360px;
        margin-left: 5%;
        background-color: $cardBackgroundColor2;
        border: solid 2px $cardBackgroundColor2;
        display: none;
        @include sp{
            position: relative;
            width: 100%;
            margin-left: 0;
        }
        &.active {
            display: block;
        }
    }
    &__backIcon{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 400px;
        overflow: hidden;
        & i{
            position: absolute;
            color: $backgroundColor2;
            opacity: 0.8;
            display: block;
            transform: rotate(15deg);
            z-index: -1;
        }
        & .fa-code{
            font-size: 350px;
            top: 10px;
            right: -30px;        
        }
        & .fa-js{
            font-size: 360px;
            top: 30px;
            right: -10px;
        }
        & .fa-database{
            font-size: 360px;
            top: 25px;
            right: 10px;
        }
        & .fa-github{
            font-size: 380px;
            top: 0px;
            right: -15px;
        }
        & .fa-wordpress{
            font-size: 380px;
            top: 0px;
            right: -15px;
        }
        & .fa-screwdriver-wrench{
            font-size: 340px;
            top: 30px;
            right: 20px;
        }
    }
}
.skillCareer {
    padding: 25px;
    &__lang {
        font-size: 1.5em;
        margin-bottom: 20px;
        color: $heddingColor;
        position: relative;
        padding-left: 20px;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            height: 30px;
            width: 6px;
            background-color: $heddingColor;
        }
    }
    &__text {
        color: $textColor;
        line-height: 2;
        position: relative;
    }
}

/* Works
-------------------------------------------- */
.worksList {
    &__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &+&{
            margin-top: 20px;
        }
    }
    &__img {
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        & img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__desc{
        width: 70%;
    }
    &__icons{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    &__icon{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 50%;
        border: solid 1px $cardBackgroundColor1;
        background-color: #FFF;
        color: $cardBackgroundColor1;
        font-size: 20px;

    }
    &__ttl {
        margin-bottom: 10px;
        font-size: 1.3em;
        font-weight: bold;
    }
    &__gitIcon {
        display: block;
        width: 200px;
        height: 30px;
    }
}

/* footer
-------------------------------------------- */
.footer {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    &-mail::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0e0";
    }
}
